<!-- ClipBoardComponent.razor -->
@inject IJSRuntime JSRuntime

    <div class="form-inline">

        <br />
        <table style="background-color:beige" border="1">
            <tr style="border: 0px">
                <td style="border: 0px">
                    <button type="button" class="btn btn-primary" @onclick="CopyTextToClipboard">Copy</button>
                &nbsp;

                    <button type="button" class="btn btn-primary" @onclick="DownloadFile">Download</button>
                &nbsp;
                    <b><i>Filename:</i></b>
                &nbsp;
                    @Filename</td>
            </tr>
            <tr style="border: 0px">
                <td style="border: 0px">
                    <pre>@Text</pre>
                </td>
            </tr>
        </table>
    </div>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public string Filename { get; set; }

    private async Task CopyTextToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", Text);
    }

    async Task DownloadFile()
    {
        var bytes = System.Text.Encoding.UTF8.GetBytes(Text);
        await FileUtil.SaveAs(JSRuntime, Filename, bytes);
    }
}
